.index {
    width: 500px;
}
.main{
    overflow: hidden;
}

.mask-container {
    position: absolute;
    top: 424px;
    left: 0;
    z-index: 0;
}

.carousel-container {
    position: relative;
    z-index: 1;
}

.cat-container {
    display: inline;
    position: relative;
    top: -20px;
    left: 191px;
    z-index: 2;
}

.text-group-banner {
    position: absolute;
    top: 304px;
    left: 312px;
    z-index: 3;
}

.carousel-title {
    z-index: 3;
}

.intent-container {
    position: absolute;
    top: 844px;
    left: 312px;
    z-index: 4;
}

.kitty-position {
    position: absolute;
    top: 1000px;
    left: 1192px;
}

.doggo-position {
    position: absolute;
    top: 800px;
    left: 1352px;
}

.deco-position {
    position: absolute;
    top: 940px;
    left: 1520px;
}

.lang-relative {
    position: relative;
    margin-top: 456px;
}

.lang-container {
    position: absolute;
}

.footprint-container {
    position: absolute;
    left: 160px;
}

.lang-position-container {
    position: relative;
}

.name-breed-position {
    position: relative;
}

.dialogbox-position-left {
    position: absolute;
    left: 315px;
    z-index: 0;
}

.dialogbox-position-mid {
    position: absolute;
    left: 740px;
    z-index: 0;
}

.dialogbox-position-right {
    position: absolute;
    left: 1163px;
    z-index: 0;
}

.puzzleBox-position {
    position: relative;
}

.bg-2-position {
    position: absolute;
}

.bg-3-position {
    position: absolute;
    top: 440px;
}

.yellow-cat-position {
    position: absolute;
    left: 1488px;
    top: -140px;
    z-index: 1;
}

.knowledgeOfStray-position {
    position: relative;
}

.deco-bottom-position {
    position: absolute;
    left: 80px;
    top: -120px;
    z-index: 1;
}

.footprint-bottom-position {
    position: absolute;
    left: 1590px;
}

.kitty-round-mask-xs {
    width: 160px;
    height: 160px;
    background: url(material/images/little-boy-holds-black-white-kitty-his-shoulder.jpg) no-repeat top center/cover;
    mask: url(material/mask/mask8_round.svg) center/contain no-repeat;
    -webkit-mask: url(material/mask/mask8_round.svg) center/contain no-repeat;
    -webkit-mask-size: 220%;
    mask-size: 220%;
}

.doggo-round-mask-s {
    width: 256px;
    height: 256px;
    background: url(material/images/close-up-pet-lifestyle.jpg) no-repeat top center/cover;
    mask: url(material/mask/mask8_round.svg) center/contain no-repeat;
    -webkit-mask: url(material/mask/mask8_round.svg) center/contain no-repeat;
    -webkit-mask-size: 220%;
    mask-size: 220%;
}

.left-mask {
    background: url() no-repeat center/cover;
    overflow: hidden;
    mask: url(material/mask/mask1.svg) center/contain no-repeat;
    -webkit-mask: url(material/mask/mask1.svg) center/contain no-repeat;
    -webkit-mask-size: 150%;
    mask-size: 150%;
}

.mid-mask {
    background: url() no-repeat top center/cover;
    overflow: hidden;
    mask: url(material/mask/mask4.svg) center/contain no-repeat;
    -webkit-mask: url(material/mask/mask4.svg) center/contain no-repeat;
    -webkit-mask-size: 140%;
    mask-size: 140%;
}

.right-mask {
    background: url() no-repeat top center/cover;
    overflow: hidden;
    mask: url(material/mask/mask3.svg) center/contain no-repeat;
    -webkit-mask: url(material/mask/mask3.svg) center/contain no-repeat;
    -webkit-mask-size: 150%;
    mask-size: 150%;
}

.lang-index-container {
    width: 400px;
    height: 300px;
}

#apiImage {
    width: 100%; /* Ensure the image takes up the full width of its container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any extra spacing below the image */
}

.text-borderline {
    border-color: #FFFFFF;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
}

.card:hover{
    background-color: #a98467;
    p{
        color: #FFFFFF;
    }
}

/*.sticky {
    position: fixed;
    z-index: 20;
    top: 0;
    width: 100%
  }*/

