@import "bootstrap/bootstrap";
@import "index";
@import "faq";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bricolage+Grotesque&family=Castoro:ital@1&family=Noto+Sans+TC&display=swap');
@import "components/_navbarHover.scss";

.main {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Amatic SC', sans-serif;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Castoro', serif;
    font-family: 'Noto Sans TC', sans-serif;
}

.container .footer-container {
  width: 1080px;
}
