@import "bootstrap/bootstrap";
@import "index";
@import "faq";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bricolage+Grotesque&family=Castoro:ital@1&family=Noto+Sans+TC&display=swap');
@import "components/_navbarHover.scss";
@import "components/_footerBgcImage.scss";
@import "components/_forget.scss";
// @import "components/_aboutMeContent.scss";
@import "components/_whichStatus3-2.scss";
@import "components/_whichStatusStart3-2.scss";

.main {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Amatic SC', sans-serif;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Castoro', serif;
    font-family: 'Noto Sans TC', sans-serif;
}


.container .footer-container {
  width: 1080px;
}

.banner {
  height: 500px;
  background-position: center center;
  background-size: cover;
}

.custom-container{
  background-color:  #F0E8E0 ;
  height: auto;
  position: relative;

}


.font-size-about-h1{
  font-size: 48px;
}

.font-size-about-p{
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 3px;
}

.font-size-about-font{
  font-family: 'Castoro', serif;
  font-family: 'Noto Sans TC', sans-serif;

}

.cute-cat{
  transform: rotate(90deg);
  position: absolute;
  max-width: 13%;
  top:65%;
  left:20%;

}
.cute-dog{
  transform: scaleX(-1);
  position: absolute;
  max-width: 25%;
  height:25%;
  left:0%;
  top:75%;
}