.nav-item {
    display: inline-block;
  }
.nav-item {
    display: block;
    text-decoration: none;
    position: relative;
  }
/*.nav-item:hover, .nav-item.selected{
    color:red;
  }*/
.nav-item.selected:before, .nav-item:hover:before {
    content: "";
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 28px;
    background: url("material/other/cat-paw.svg") no-repeat;
    background-size: contain;
    opacity: 0.7;
    transition: opacity 1s ease, top 1s ease;
  }